:root{
    --pink:#B99257;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #2e364c;;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

header{
    position: sticky;
    top:0; left:0; right:0;
    background:#101D29;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    width: 3px;
    height: auto;
    margin-left: 15px;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    background-color:#63331c;
    color:var(--pink);
	box-shadow: 0 0 10px #87a6bb;}

header .icons a{
    font-size: 2.5rem;
    color:#2e364c;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#2e364c;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}
.about{
    min-height: 100vh;
    background:url(../images/midnights\ bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.about .content {
    position: fixed;
    bottom: 0;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.5);
    color: #Ac9fb8;
    width: 100%;
    padding: 20px;
  }
