:root{
    --pink:#B99257;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #2e364c;;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#2e364c;
    color:#101D29;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#101D29;
    padding: 9px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    width: 3px;
    height: auto;
    margin-left: 15px;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    background-color:#63331c;
    color:var(--pink);
	box-shadow: 0 0 10px #87a6bb;}

header .icons a{
    font-size: 2.1rem;
    color:#2e364c;
    margin-right: 10px;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#2e364c;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}
.col{
    background:url(media/midnights\ bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.album{
    width: 300px;
    height: 330px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    margin-top: 125px;
    margin-left: 40px;
    background-size: cover;
    background-position: center;
    margin-top: 120px;
   transition: transform 0.5s;
}
.album1{
    background-image: url(media/Taylor\ Swift\ debut\ album.jpg);
}
.album2{
    background-image: url(media/Fearless\ 2nd\ album.jpg);
}
.album3{
    background-image: url(media/Speak\ Now\ 3rd\ album.jpg);
}
.album4{
    background-image: url(media/Red\ 4th\ album.png);
}
.album5{
    background-image: url(media/1989\ 5th\ album.jpg);
}
.album6{
    background-image: url(media/Reputation\ 6th\ album.jpg);
}
.album7{
    background-image: url(media/Lover\ 7th\ album.jpg);
}
.album8{
    background-image: url(media/Folklore\ 8th\ album.jpg);
}
.album9{
    background-image: url(media/Evermore\ 9th\ album.jpg);
}
.album10{
    background-image: url(media/Midnights\ 10th\ album.jpg);
}
.album:hover{
    transform: translateY(-10px);
}
h3{
    color: #B99257;
    text-shadow; 0 0 5px #999;
}
.album p{
    margin-top: 30px;
    color:#101D29;
    text-shadow; 0 0 15px #000;
    font-size: 12px;
}
